[submodule "assets/plugins/redmine_banner"]
	path = assets/plugins/redmine_banner
	url = git@github.com:akiko-pusu/redmine_banner.git
[submodule "assets/plugins/redmine_close_button"]
	path = assets/plugins/redmine_close_button
	url = git@github.com:Undev/redmine_close_button.git
[submodule "assets/plugins/redmine_image_clipboard_paste"]
	path = assets/plugins/redmine_image_clipboard_paste
	url = git@github.com:credativUK/redmine_image_clipboard_paste.git
[submodule "assets/plugins/redmine_lightbox2"]
	path = assets/plugins/redmine_lightbox2
	url = git@github.com:paginagmbh/redmine_lightbox2.git
[submodule "assets/plugins/redmine_mentions"]
	path = assets/plugins/redmine_mentions
	url = git@github.com:arkhitech/redmine_mentions.git
[submodule "assets/plugins/redmine_issue_templates"]
	path = assets/plugins/redmine_issue_templates
	url = git@github.com:akiko-pusu/redmine_issue_templates.git
[submodule "assets/plugins/redmine_omniauth_google"]
	path = assets/plugins/redmine_omniauth_google
	url = git@github.com:twinslash/redmine_omniauth_google.git
